/*===============================================
    [SASS DIRECTORY ]
    
    [1] 
==============================================*/

/*===============================*/

.common-home #content{margin-bottom: 0px;}
.sohomepage-slider .so-homeslider{border: none; z-index: 0;}

.container-fluid .container{
    padding-left: 15px;
    padding-right: 15px;
}


#main-content,#content{margin-bottom: 30px;}

.common-home{

    a:hover{ color: $background; }
}

/*====================== mod title ========================*/
.layout-8.common-home #content{
    .module{
        h3.modtitle{
            text-align: center; margin-bottom: 5px;
            span{
                font-size: 24px; color: #222;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                letter-spacing: 2px;
                display: inline-block;
                &:before{
                    position: absolute; content: "";
                    width: 60px; height: 2px;
                    background-color: #222;
                    top: 50%; margin-top: -1px;
                    #{$left}: -80px;
                }
                &:after{
                    position: absolute; content: "";
                    width: 60px; height: 2px;
                    background-color: #222;
                    top: 50%; margin-top: -1px;
                    #{$right}: -80px;
                }
            }
        }
        .form-group{
            text-align: center;
            font-style: italic;
             color: #878787;
            margin-bottom: 0;
       }
    }


}

/************************************************************************************************
    MODULE SO CATEGORIES  
*************************************************************************************************/




/************************************************************************************************
    MODULE LOOKBOOK  
*************************************************************************************************/


#content .so-lookbook-slider.owl-carousel{
    .owl-stage-outer{
        overflow: unset;
        direction: ltr;
    }
    .owl-nav > button{
        border-color: #999; color: #999; font-size: 26px;
        line-height: 36px;
        i{
            font-weight: 400;
            line-height: 32px;
            float: none;
        }
        &:hover{ color: #fff; background-color: $background; border-color: $background; }

    } 
    .popup__content--product{
        h4{ font-weight: 600; 
            a{ color: #222; font-size: 16px;   
                &:hover{ color: $linkColor; }
            }
        }
    }
    .popup__content--product > div a, 
    .popup__content--product > div button.action.primary{
        text-transform: capitalize;
        padding-top: 15px;
        .fa-shopping-cart{
            display: none;
        }
    }
    .popup__content--product > div a:hover{
        color: $background;
    }
}




/************************************************************************************************
    SHORTCODE HTML 
*************************************************************************************************/
.row-padd{
    padding: 30px;
}


.banners-cates{ margin-bottom: 90px;
    .lnk{
        -webkit-box-shadow: 0px 1px 3px 0px rgba(34, 34, 34, 0.15);
-moz-box-shadow:    0px 1px 3px 0px rgba(34, 34, 34, 0.15);
box-shadow:         0px 1px 3px 0px rgba(34, 34, 34, 0.15);
        height: auto;
        background-color: #fff;
        padding: 10px; text-align: center; min-width: 160px;
        display: inline-block; line-height: 20px;
        font-weight: 600; color: #222; font-size: 14px;
        &:hover{
            color: #fff; background-color: $background;
        }

    }
    .img{
        display: block;
         position: relative;
         overflow: hidden;
  
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
            content: '';
            opacity: 0;
            -webkit-transform: translate3d(0,50%,0);
            transform: translate3d(0,50%,0);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
        &:hover:before {
           opacity: 1;
           -webkit-transform: translate3d(0,0,0);
           transform: translate3d(0,0,0);
        }

    }
    .txt-center{
        position: absolute;
        bottom: 40px;
        left: 0;
        text-align: center;
        display: inline-block; width: 100%;
    }
    .bn .inner{
        position: relative;
        text-align: center;
    }
}

/*--- block services ---*/

.block-services{
    padding: 48px 15px !important;

    .icon-service{
        .icon{
            width: 45px;
            float: $left;
            i{
                font-size: 36px; font-weight: bold;
            }
        }
        .text{
            margin-#{$left}: 45px;
            h6{ font-size: 16px; color: #222; margin-bottom: 0; text-transform: uppercase; }
            p{  }
        }
    }
}

/************************************************************************************************
    MODULE EXTRA SLIDER
*************************************************************************************************/
.extra-layout2{
    margin-top: 90px;
    margin-bottom: 40px;
    .so-extraslider{ margin: 0;
        .owl2-dots{
            @include owl2-dot-style(9px,9px,#b2b2b2);  
        }
        .owl2-nav{
            @include owl2-nav-style1(34px,24px,#ddd,$background);
            > div{
                @include transform(scale(0.3));
                opacity: 0; visibility: hidden;
                @include transition(all 0.2s ease-in-out 0s); 
            }
        }
        &:hover{
            .owl2-nav > div{
                @include transform(scale(1));
                opacity: 1; visibility: visible;
                @include transition(all 0.2s ease-in-out 0s); 
            }
        } 
    }
}

.common-home .so-extraslider .item-available{ display: block;}


/************************************************************************************************
    MODULE LATEST BLOG
*************************************************************************************************/
.so-blog-external .blog-external .media .so-block{
    padding: 0;
    a.imag{
        @include hover-image-effect();
    }
}
.blog-home{
    margin-top: 20px;
    .modcontent{
        margin-top: 15px;
    }
    .blog-external{
        border: none;
        .head-item{
            margin: 15px 0 10px 0;
        }
        .media-heading a{
            padding: 0;
            font-size: 16px; color: #222;
            font-weight: 500;
            &:hover{ color: $linkColor; }
        }
        .infos{
            font-size: 14px;
            .media-date-added,
            .media-author{
                color: #222;
                padding: 0;
            }
        }  
        .media .media-body .description{
            margin-top: 5px;
        }      
    }
    .so-blog-external .blog-external .media{
        margin: 10px 0;
    }
    .owl2-controls .owl2-nav{
        @include owl2-nav-style1(34px,20px,#ddd,$background);
        .owl2-next,
        .owl2-prev{
            @include transform(scale(0.3));
            opacity: 0; visibility: hidden;
            @include transition(all 0.2s ease-in-out 0s); 
        }
    }
    &:hover{
        .owl2-controls .owl2-nav{
            .owl2-next,
            .owl2-prev{
                @include transform(scale(1));
                opacity: 1; visibility: visible;
                @include transition(all 0.2s ease-in-out 0s); 
            }                
        }
    }
}

/************************************************************************************************
    MODULE INSTAGRAM
*************************************************************************************************/
.insta-home{
    margin-top: 40px;
    position: relative;
    .pre_text{
        width: 400px;
        background-color: rgba(255,255,255,0.8);
        position: absolute;
        top: 50%; #{$left}: 50%;
        @include transform(translate(-50%,-50%));
        @include if-rtl { 
            @include transform(translate(50%,-50%));
        }
        z-index: 99;
        padding: 25px;
        text-align: center;
        color: #222;
        p{
            font-style: italic; font-size: 16px; margin: 0;
        }
        b{ font-size: 18px; font-weight: 600; text-transform: uppercase; }
    }
}
.so-instagram-gallery{ margin-bottom: -7px;
    .instagram-items-inner.owl2-carousel{
        border: none;
    }
    .instagram-items-inner.owl2-carousel .instagram-item{
        margin: 0;
        .instagram_users .img_users a{
            border: none;
            @include hover-image-effect();
        }
    }
    .owl2-nav{
        @include owl2-nav-style1(34px,20px,#ddd,$background);
        > div{
            @include transform(scale(0.3));
            opacity: 0; visibility: hidden;
            @include transition(all 0.2s ease-in-out 0s); 
        }
    }
    &:hover{
        .owl2-nav > div{
            @include transform(scale(1));
            opacity: 1; visibility: visible;
            @include transition(all 0.2s ease-in-out 0s); 
        }
    }
    
}

/************************************************************************************************
    MODULE DEALS
*************************************************************************************************/
.deals-layout{
    .so-deal{
        margin: 0;
        .owl2-controls{ margin: 0; }
        .products-list .product-grid .product-item-container{
            position: relative;
            .right-block{
                position: absolute; bottom: 0; left: 0;
                display: inline-block; width: 100%;
                text-align: center;
                padding-bottom: 15px;
                h4{
                    margin: 4px 0 7px 0;
                    a{
                        font-size: 16px; font-weight: 600; color: #222;
                    }
                } 

            }
        } 
        .extraslider-inner{
            border: none;
            .item-timer{
                background-color: transparent;
                margin-bottom: 15px;
            }

            .time-item{display:inline-block;  color: #fff; width:50px; height: 50px; background: rgba(0,0,0,0.8); 
                border-radius: 5px; margin: 0 12px; text-align: center; line-height: 18px;
                padding: 6px 0; float: none; border: none;
                &:first-child{
                    margin-#{$left}: 0;
                }
                &:last-child{
                    margin-#{$right}: 0;
                }
                .num-time{font-size: 16px;font-weight: 700; border: none;}
                .name-time{ font-size: 13px; font-weight: 300; color: #878787;}         
            }
            .item{
                .product-item-container{

                }
            }
        }
    } 

}

/************************************************************************************************
    MODULE LISTING TABS
*************************************************************************************************/
.listingtab-layout2 .so-listing-tabs{
    margin: 0;
    .owl2-nav{
        @include owl2-nav-style2(52px,34px,#222,$background);
    }
    .wap-listing-tabs{
        margin-top: 20px;
    }
    .ltabs-tabs-container ul.ltabs-tabs{
        text-align: center;
        li{
            float: none; display: inline-block;
            > span{
                font-size: 11px; color: #878787;
                height: 26px; line-height: 24px;
                border: 1px dashed transparent; 
                border-radius: 20px;
                text-transform: capitalize;
                font-weight: 600;
                display: inline-block; padding: 0 17px;
            }
            &:hover,
            &.tab-sel{
                > span{
                    color: #222;
                }
            }
            &.tab-sel > span{
                border-color: #878787;
            }
        }
    }
    .ltabs-items-container .ltabs-items .ltabs-items-inner{
        position: static;
       margin: 0;
        .ltabs-item .item-inner{
            margin: side-values(0 0px 30px 0px);
        }
    }
    .ltabs-wrap{
        overflow: unset;
        .ltabs-tabs-container{
            margin: 15px 0;
        }
    }
}
/*==================== ===================*/
@media (min-width: 1649px){
  
}

@media (min-width: 1200px) and (max-width: 1365px){
   
    
}

@media (min-width: 1366px) and (max-width: 1649px){

}

.wrapper-boxed{

}
