
footer #collapse-footer{
	display: block;
}
.footer-container{
	clear: both;
}
footer .so-page-builder .container{
    padding: 0 15px;
}
footer .copyright a{
	color: #222;
}
footer a:hover{
	color: $linkColor;
}

.typefooter-1 .socials li a:hover{
	color: $background; 
}
.typefooter-1 .footer-top{
	background-color: $background;
}

.typefooter-1 .box-footer .modcontent ul.menu li a:hover{
	color: $linkColor;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	&:hover{
		background-color: $background;
	}
}



.typefooter-2 .socials li a:hover{
	color: $background; 
}
.typefooter-2 .footer-top{
	background-color: $background;
}

.typefooter-2 .box-footer .modcontent ul.menu li a:hover{
	color: $linkColor;
}
.typefooter-2 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	&:hover{
		background-color: $background;
	}
}





.typefooter-3 .socials li a:hover{
	color: $background; 
}
.typefooter-3 .footer-top{
	background-color: $background;
}

.typefooter-3 .box-footer .modcontent ul.menu li a:hover{
	color: $linkColor;
}
.typefooter-3 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	&:hover{
		background-color: $background;
	}
}


.typefooter-4 .socials li a:hover{
	color: $background; 
}
.typefooter-4 .footer-top{
	background-color: $background;
}

.typefooter-4 .box-footer .modcontent ul.menu li a:hover{
	color: $linkColor;
}
.typefooter-4 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	&:hover{
		background-color: $background;
	}
}


.typefooter-5 .socials li a:hover{
	color: $background; 
}
.typefooter-5 .footer-top{
	background-color: $background;
}

.typefooter-5 .box-footer .modcontent ul.menu li a:hover{
	color: $linkColor;
}
.typefooter-5 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	&:hover{
		background-color: $background;
	}
}


.typefooter-6,
.typefooter-7,
.typefooter-8{
	.socials li a:hover{
		color: $background; 
	}
	.footer-top{
		background-color: $background;
	}

	.box-footer .modcontent ul.menu li a:hover{
		color: $linkColor;
	}
	.newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
		&:hover{
			background-color: $background;
		}
	}
}